:root {
  --greyish-blue: #666ca3;
  --dark-navy: #13183f;
  --grey: #83869a;
  --hot-pink: #f74780;
  --baby-pink: #ffa7c3;
  --white: #fff;
  --gradient-1: linear-gradient(#ff6f48, #f02aa6);
  --gradient-2: linear-gradient(#4851ff, #f02aa6);
  --heading-xl: 3.889vw;
  --heading-lg: 4rem;
  --heading-md: 3.2rem;
  --heading-sm: 2.4rem;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 10px;
  background: linear-gradient(#fff, #f0f1ff) no-repeat;
}

body {
  min-height: 100vh;
  width: 100%;
}

.hero_header-logo {
  width: 8.9rem;
  height: 3.5rem;
  position: relative;
  top: 2.2rem;
  left: 1.6rem;
  display: inline-flex;
  align-items: center;
}

.hero_header-logo img {
  width: inherit;
}

.hero_header-button {
  background: var(--dark-navy);
  width: 14rem;
  height: 4.8rem;
  border-radius: 2.8rem;
  border: none;
  position: relative;
  top: 1.6rem;
  right: 1.6rem;
  float: right;
}

.hero_header-button:active {
  background-color: color-mix(in srgb, var(--white) 10%, var(--greyish-blue));
}

.hero_header-button a {
  color: var(--white);
  text-decoration: none;
  font-weight: bold;
  font-size: 1.6rem;
}

.hero_header-button a:active {
  background: -webkit-linear-gradient(#ff6f48, #f02aa6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero_text {
  position: absolute;
  width: 91.467vw;
  height: 28.5rem;
  top: 10.2rem;
  left: 1.6rem;
}

.hero_text h1 {
  font-size: 10.667vw;
  color: var(--dark-navy);
}

.hero_text p {
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--grey);
  margin-top: 2.6rem;
  margin-bottom: 2.4rem;
  line-height: 1.625;
}

.hero_text button {
  background: var(--gradient-1);
  width: 16.7rem;
  height: 5.6rem;
  border-radius: 3.15rem;
  border: none;
}

.hero_text button:active {
  opacity: 50%;
}

.hero_text button a {
  color: var(--white);
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: bold;
}

.hero_img img {
  position: relative;
  width: 100%;
  top: 40rem;
}

.features {
  position: relative;
  top: 40.227rem;
  width: 100%;
  height: 169.5rem;
  display: grid;
  justify-content: center;
  gap: 4rem;
}

.features_banner {
  width: 91.467vw;
  height: 12rem;
  background: var(--gradient-1);
  border-radius: 1rem;
}

.features_banner h2 {
  font-size: 2.4rem;
  color: var(--white);
  position: relative;
  top: 2.4rem;
  padding-left: 2.8rem;
}

.features_article {
  width: 91.467vw;
  height: 25.9rem;
  border-radius: 1rem;
  background-color: var(--white);
  border: 1px solid red;
  padding-left: 2.8rem;
}

.features_article img {
  position: relative;
  top: -2.4rem;
}

.features_article-text {
  width: 28.6rem;
  height: 11.9rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.features_article-text h3 {
  font-size: 2rem;
}

.features_article-text p {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.625;
  color: var(--grey);
}

.features_article a {
  text-decoration: none;
  background: -webkit-linear-gradient(#ff6f48, #f02aa6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.8rem;
  font-weight: bold;
  position: relative;
  top: 2.4rem;
}

@media screen and (min-width: 768px) {
  body {
    min-height: 100vh;
    width: 100%;
  }
  .hero {
    overflow-x: clip;
  }

  .hero_header-logo {
    top: 3.1rem;
    left: 3.9rem;
  }

  .hero_header-button {
    top: 3.1rem;
    right: 3.9rem;
  }

  .hero_text {
    width: 39.8rem;
    height: 28.4rem;
    left: 3.9rem;
    top: 17.1rem;
  }

  .hero_text h1 {
    font-size: var(--heading-lg);
  }

  .hero_text p {
    margin: 2.5rem 0;
  }

  .hero_img img {
    width: 64rem;
    left: 37rem;
    top: -9rem;
  }

  .features {
    position: absolute;
    top: 64.1rem;
    left: 3.9rem;
    display: grid;
    grid-template-columns: 34rem 34rem;
    row-gap: 3.2rem;
    column-gap: 1rem;
    width: 68.9rem;
    height: 91.3rem;
  }

  .features_banner,
  .features_article {
    height: auto;
    width: auto;
  }
}

@media screen and (min-width: 1024px) {
  .hero_header-logo {
    position: absolute;
    top: 2.4rem;
    left: 11.458vw;
  }

  .hero_header-button {
    top: 2.4rem;
    right: 11.458vw;
  }

  .hero_text {
    width: 31.736vw;
    height: 25.9rem;
    top: 25.2rem;
    left: 11.458vw;
  }

  .hero_text h1 {
    font-size: var(--heading-xl);
  }

  .hero_text p {
    font-size: 1.25vw;
    margin-top: 2.9rem;
    margin-bottom: 4rem;
  }

  .hero_header-button {
    width: 11.597vw;
  }

  .hero_header-button a {
    font-size: 1.25vw;
  }

  .hero_text button {
    width: 11.597vw;
  }

  .hero_text button a {
    font-size: 1.25vw;
  }

  .hero_img img {
    width: 75vw;
    top: -2.93vh;
    left: 47vw;
  }

  .features {
    width: 77.083vw;
    height: 74.8rem;
    left: 11.458vw;
    top: 70rem;
    grid-template-columns: repeat(3, 24.306vw);
    grid-template-rows: repeat(2, 24.028vw);
    column-gap: 2.083vw;
    row-gap: 3.889vw;
  }

  .features_banner {
    height: 34.6rem;
  }

  .features_banner h2 {
    font-size: 2.222vw;
    width: 19.861vw;
  }

  .features_banner,
  .features_article {
    height: 24.028vw;
  }

  .features_article-text {
    display: block;
    width: 19.861vw;
  }

  .features_article-text h3 {
    font-size: 1.667vw;
    width: 8.403vw;
  }

  .features_article-text p {
    font-size: 1.25vw;
    position: relative;
    top: 1.667vw;
  }

  .features_article a {
    font-size: 1.25vw;
    top: 1.667vw;
  }
}

@media screen and (min-width: 1440px) {
  .hero_img img {
    width: 60vw;
    top: -5rem;
    left: 55vw;
  }

  .features {
    top: 85rem;
  }

  .features_article a {
    font-size: 1.25vw;
    top: 5vw;
  }
}
