:root {
  --greyish-blue: #666ca3;
  --dark-navy: #13183f;
  --grey: #83869a;
  --hot-pink: #f74780;
  --baby-pink: #ffa7c3;
  --white: #fff;
  --gradient-1: linear-gradient(#ff6f48, #f02aa6);
  --gradient-2: linear-gradient(#4851ff, #f02aa6);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 10px;
  background: linear-gradient(#fff, #f0f1ff) no-repeat;
}

body {
  min-height: 100vh;
  width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 0 4.267vw;
  padding-top: 4.267vw;
}

.hero_header-logo {
  width: 23.733vw;
  align-self: center;
}

.hero_header-logo img {
  width: inherit;
}

.hero_header-button {
  width: 14rem;
  height: 4.8rem;
  border-radius: 2.8rem;
  background-color: var(--dark-navy);
  border: none;
}

.hero_header-button a {
  text-decoration: none;
  color: white;
  font-size: 4.267vw;
  font-weight: bold;
}

.hero_header-button:hover {
  cursor: pointer;
  background-color: #666ca3;
}

.hero_header-button a:active {
  background: var(--gradient-1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero_text {
  width: 91.467vw;
  height: 76vw;
  position: relative;
  left: 4.267vw;
  margin-top: 5.4rem;
}

.hero_text h1 {
  width: inherit;
  font-size: 10.667vw;
}

.hero_text p {
  width: inherit;
  font-size: 4.267vw;
  line-height: 1.625;
  margin-top: 6.933vw;
  margin-bottom: 6.4vw;
}

.hero_text button {
  width: 44.533vw;
  height: 14.933vw;
  border-radius: 31.5rem;
  background: var(--gradient-1);
  border: none;
}

.hero_text button a {
  color: var(--white);
  font-size: 4.267vw;
  text-decoration: none;
  font-weight: bold;
}

.hero_img img {
  width: 91.467vw;
  position: relative;
  left: 4.267vw;
  margin-top: 12.267vw;
}

@media screen and (min-width: 768px) {
  header {
    margin: 0 5.078vw;
    padding-top: 3.125vw;
  }

  .hero_header-logo {
    width: 11.589vw;
  }

  .hero_header-logo img {
    width: inherit;
  }

  .hero_header-button a {
    font-size: 2.083vw;
  }

  .hero {
    display: flex;
    overflow-x: clip;
  }

  .hero_text {
    width: 51.823vw;
    height: 36.979vw;
    margin-top: 12.3rem;
  }

  .hero_text h1 {
    font-size: 5.208vw;
  }

  .hero_text p {
    width: inherit;
    font-size: 2.083vw;
    margin: 3.255vw 0;
  }

  .hero_text button {
    width: 21.745vw;
    height: 7.292vw;
  }

  .hero_text button a {
    font-size: 2.083vw;
  }

  .hero_img img {
    width: 83.426vw;
    margin-top: -12.903vw;
    left: 1.2rem;
  }
}

@media screen and (min-width: 1024px) {
  header {
    margin: 0 11.458vw;
    padding-top: 1.667vw;
  }

  .hero_header-logo {
    width: 7.72vw;
  }

  .hero_header-button {
    width: 11.597vw;
    height: 3.889vw;
  }

  .hero_header-button a {
    font-size: 1.25vw;
  }

  .hero_text {
    width: 31.736vw;
    height: 24.931vw;
    left: 11.513vw;
    margin-top: 13.55vw;
  }

  .hero_text h1 {
    font-size: 3.889vw;
  }

  .hero_text p {
    font-size: 1.25vw;
    margin-top: 2.014vw;
    margin-bottom: 2.778vw;
  }

  .hero_text button {
    width: 11.597vw;
    height: 4.375vw;
  }

  .hero_text button a {
    font-size: 1.25vw;
  }

  .hero_img img {
    width: 68.863vw;
    left: 18.652vw;
  }
}
